<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (managerInfo(); as managerInfoRef) {
      <div>
        <h2 data-cy="managerInfoDetailsHeading"><span jhiTranslate="disclosureApp.managerInfo.detail.title">Manager Info</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ managerInfoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="disclosureApp.managerInfo.emailDirectManager">Email Direct Manager</span></dt>
          <dd>
            <span>{{ managerInfoRef.emailDirectManager }}</span>
          </dd>
          <dt><span jhiTranslate="disclosureApp.managerInfo.nameDirectManager">Name Direct Manager</span></dt>
          <dd>
            <span>{{ managerInfoRef.nameDirectManager }}</span>
          </dd>
          <dt><span jhiTranslate="disclosureApp.managerInfo.jobNumberDirectManager">Job Number Direct Manager</span></dt>
          <dd>
            <span>{{ managerInfoRef.jobNumberDirectManager }}</span>
          </dd>
          <dt><span jhiTranslate="disclosureApp.managerInfo.jobTitleDirectManager">Job Title Direct Manager</span></dt>
          <dd>
            <span>{{ managerInfoRef.jobTitleDirectManager }}</span>
          </dd>
          <dt><span jhiTranslate="disclosureApp.managerInfo.extDirectManager">Ext Direct Manager</span></dt>
          <dd>
            <span>{{ managerInfoRef.extDirectManager }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/manager-info', managerInfoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
