<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-relatives-heading" data-cy="RelativesCreateUpdateHeading" jhiTranslate="disclosureApp.relatives.home.createOrEditLabel">
        Create or edit a Relatives
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="disclosureApp.relatives.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameDiscloserRef = editForm.get('nameDiscloser')!;
        <div class="mb-3">
          <label class="form-label" for="field_nameDiscloser" jhiTranslate="disclosureApp.relatives.nameDiscloser">Name Discloser</label>
          <input
            type="text"
            class="form-control"
            name="nameDiscloser"
            id="field_nameDiscloser"
            data-cy="nameDiscloser"
            formControlName="nameDiscloser"
          />
          @if (nameDiscloserRef.invalid && (nameDiscloserRef.dirty || nameDiscloserRef.touched)) {
            <div>
              @if (editForm.get('nameDiscloser')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let nameRelativeRef = editForm.get('nameRelative')!;
        <div class="mb-3">
          <label class="form-label" for="field_nameRelative" jhiTranslate="disclosureApp.relatives.nameRelative">Name Relative</label>
          <input
            type="text"
            class="form-control"
            name="nameRelative"
            id="field_nameRelative"
            data-cy="nameRelative"
            formControlName="nameRelative"
          />
          @if (nameRelativeRef.invalid && (nameRelativeRef.dirty || nameRelativeRef.touched)) {
            <div>
              @if (editForm.get('nameRelative')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let jobTitleRelativeRef = editForm.get('jobTitleRelative')!;
        <div class="mb-3">
          <label class="form-label" for="field_jobTitleRelative" jhiTranslate="disclosureApp.relatives.jobTitleRelative"
            >Job Title Relative</label
          >
          <input
            type="text"
            class="form-control"
            name="jobTitleRelative"
            id="field_jobTitleRelative"
            data-cy="jobTitleRelative"
            formControlName="jobTitleRelative"
          />
          @if (jobTitleRelativeRef.invalid && (jobTitleRelativeRef.dirty || jobTitleRelativeRef.touched)) {
            <div>
              @if (editForm.get('jobTitleRelative')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let relativeJobNumberRef = editForm.get('relativeJobNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_relativeJobNumber" jhiTranslate="disclosureApp.relatives.relativeJobNumber"
            >Relative Job Number</label
          >
          <input
            type="text"
            class="form-control"
            name="relativeJobNumber"
            id="field_relativeJobNumber"
            data-cy="relativeJobNumber"
            formControlName="relativeJobNumber"
          />
          @if (relativeJobNumberRef.invalid && (relativeJobNumberRef.dirty || relativeJobNumberRef.touched)) {
            <div>
              @if (editForm.get('relativeJobNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let emailRelativeRef = editForm.get('emailRelative')!;
        <div class="mb-3">
          <label class="form-label" for="field_emailRelative" jhiTranslate="disclosureApp.relatives.emailRelative">Email Relative</label>
          <input
            type="text"
            class="form-control"
            name="emailRelative"
            id="field_emailRelative"
            data-cy="emailRelative"
            formControlName="emailRelative"
          />
          @if (emailRelativeRef.invalid && (emailRelativeRef.dirty || emailRelativeRef.touched)) {
            <div>
              @if (editForm.get('emailRelative')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let relativeExtensionNumberRef = editForm.get('relativeExtensionNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_relativeExtensionNumber" jhiTranslate="disclosureApp.relatives.relativeExtensionNumber"
            >Relative Extension Number</label
          >
          <input
            type="text"
            class="form-control"
            name="relativeExtensionNumber"
            id="field_relativeExtensionNumber"
            data-cy="relativeExtensionNumber"
            formControlName="relativeExtensionNumber"
          />
          @if (relativeExtensionNumberRef.invalid && (relativeExtensionNumberRef.dirty || relativeExtensionNumberRef.touched)) {
            <div>
              @if (editForm.get('relativeExtensionNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_relativeRelationship" jhiTranslate="disclosureApp.relatives.relativeRelationship"
            >Relative Relationship</label
          >
          <input
            type="text"
            class="form-control"
            name="relativeRelationship"
            id="field_relativeRelationship"
            data-cy="relativeRelationship"
            formControlName="relativeRelationship"
          />
        </div>

        @let generalAdministrationRelativeRef = editForm.get('generalAdministrationRelative')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_generalAdministrationRelative"
            jhiTranslate="disclosureApp.relatives.generalAdministrationRelative"
            >General Administration Relative</label
          >
          <input
            type="text"
            class="form-control"
            name="generalAdministrationRelative"
            id="field_generalAdministrationRelative"
            data-cy="generalAdministrationRelative"
            formControlName="generalAdministrationRelative"
          />
          @if (
            generalAdministrationRelativeRef.invalid && (generalAdministrationRelativeRef.dirty || generalAdministrationRelativeRef.touched)
          ) {
            <div>
              @if (editForm.get('generalAdministrationRelative')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let administrationRelativeRef = editForm.get('administrationRelative')!;
        <div class="mb-3">
          <label class="form-label" for="field_administrationRelative" jhiTranslate="disclosureApp.relatives.administrationRelative"
            >Administration Relative</label
          >
          <input
            type="text"
            class="form-control"
            name="administrationRelative"
            id="field_administrationRelative"
            data-cy="administrationRelative"
            formControlName="administrationRelative"
          />
          @if (administrationRelativeRef.invalid && (administrationRelativeRef.dirty || administrationRelativeRef.touched)) {
            <div>
              @if (editForm.get('administrationRelative')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_disclosure" jhiTranslate="disclosureApp.relatives.disclosure">Disclosure</label>
          <select
            class="form-control"
            id="field_disclosure"
            data-cy="disclosure"
            name="disclosure"
            formControlName="disclosure"
            [compareWith]="compareDisclosure"
          >
            <option [ngValue]="null"></option>
            @for (disclosureOption of disclosuresSharedCollection; track $index) {
              <option [ngValue]="disclosureOption">{{ disclosureOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
